@import '../../sass/styles.scss';

.ButtonAdd {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: $secondary;
    color: #fff;
}

.ButtonAdd:hover {
    background-color: $tertiary;
    cursor: pointer;
}