@import '../sass/styles.scss';

.Header {
    background-color: $secondary;
    font-size: .7rem;
    padding: 15px 0px;
    
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: .8rem
    }
}