@import '../../sass/styles.scss';

.Card {
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    .h1 {
        font-size: .5rem;
        text-align: center;
        background-color: $primary;
        color: #fff;
        flex: 0 0 50px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .tag-container {
        background: $tertiary;
        overflow-y: scroll;
        padding: 0px 10px;
        flex-grow: 1;
        transition: .3s;

        .tag {
            margin: 5px;
        }
    }

    .tag-container:hover {
        background: #fff;
        cursor: pointer;

    }

    .tag-container::-webkit-scrollbar {
        width: 5px;
    }

    .tag-container::-webkit-scrollbar-track {
        background: $tertiary;
      }

    .tag-container::-webkit-scrollbar-thumb {
        background: $primary;
        border-radius: 20px;
      }

    .tag-container::-webkit-scrollbar-thumb:hover {
        background: #999;
    }
}

